@media only screen and (min-width:1200px){
.about_content img {
	margin-top:-60px;
}
}

@media (min-width:992px) and (max-width:1199px){ 
/***************** gallery   ******************/

#gallery img{
	width:170px!important;
	height:140px;
	padding:10px;
	cursor:pointer;
}

/***************** gallery   ******************/

}

@media (min-width: 768px) and (max-width:991px){
p{
	font-size:120%;
	text-align: justify;
}


/***************** header ******************/
.contact_num .telephone{
	width:40px;
	heigth:40px;	
}


.social_icon .facebook{
	width:30px;
	heigth:30px;
}

.social_icon .email{
	width:30px;
	heigth:30px;
}

.social_icon .youtube{
	width:30px;
	heigth:30px;
}
.contactinfo .contact_num{
	padding:5px;
	font-size: 20px;
}
/***************** header ******************/



/***************** about us  ******************/

.about_content img {
	width:260px;
	height:260px;
	margin-top:20px;
}

/***************** about us  ******************/

/***************** gallery   ******************/

#gallery img{
	width:90%!important;
	height:220px;
	padding:10px;
	cursor:pointer;
}

/***************** gallery   ******************/


/***************** footer *****************/ 

#footer p{
	font-size:22px;
	color:#EEEEEE;
}

/***************** footer *****************/ 




}

@media (min-width:645px ) and (max-width:767px){
h1{
	font-size:220%;
}


p{
	font-size:120%;
	text-align: justify;
}

/***************** header ******************/
#header{
	padding:10px 20px;
}


#header .logos{
	width:220px;
	height:100px;
}
#header .logo{
	width:200px;
	height:100px;
}

.contact_num .telephone{
	width:40px;
	heigth:40px;	
}


.social_icon .facebook{
	width:30px;
	heigth:30px;
}

.social_icon .email{
	width:30px;
	heigth:30px;
}

.social_icon .youtube{
	width:30px;
	heigth:30px;
}
.contactinfo .contact_num{
	padding:5px;
	font-size: 20px;
}
/***************** header ******************/

/***************** about us  ******************/
#about_us{
	padding:5px 20px 20px 20px;
}

.about_content img {
	width:260px;
	height:260px;
	margin-top:20px;
}

/***************** about us  ******************/



/***************** services  ******************/

#services{
	padding:5px 20px 20px 20px;
}

.services_item {
	padding:20px;
	width:80%;
	margin:auto;

}
.services_item img {
	height:300px;	
}

/***************** services  ******************/

/***************** widget   ******************/
#widget_content{
	padding: 10px 20px;
}
.contact_form input{
	padding:20px;
}
.contact_form textarea{
	padding:20px;	
}
#gallery img{
	width:96%!important;
	height:300px;
	padding:10px;
	cursor:pointer;
}

/***************** widget   ******************/


/***************** footer *****************/ 

#footer p{
	font-size:20px;
	color:#EEEEEE;
}

/***************** footer *****************/ 

/***************** showcase page *****************/ 

.showcase_slider{
	width:100%;
	margin:auto;
	padding:5px;
}

/***************** showcase page *****************/ 


}




@media screen and (max-width: 644px)   {
h1{
	font-size:220%;
}

p{
	font-size:120%;
	text-align: justify;
}

/***************** header ******************/
#header{
	padding:10px;
}

#header .logos{
	width:160px;
	height:100px;
}
#header .logo{
	width:140px;
	height:100px;
}
.contactinfo{
	clear:both;
	
}

.contact_num .telephone{
	width:40px;
	heigth:40px;	
}


.social_icon .facebook{
	width:30px;
	heigth:30px;
}

.social_icon .email{
	width:30px;
	heigth:30px;
}

.social_icon .youtube{
	width:30px;
	heigth:30px;
}
.contactinfo .contact_num{
	padding:3px;
	font-size: 15px;
}
/***************** header ******************/

/***************** about us  ******************/

#about_us{
	padding:10px ;
}
.about_header .about_header__img1{
	margin-left:60px;
	padding:0px;
	margin-bottom: -20px;
}
.about_header .about_header__img2{
	margin-left:-60px;
	padding:0px;
	margin-top: -20px;
}
.about_content img {
	width:260px;
	height:260px;
	margin-top:20px;
}

/***************** about us  ******************/


/***************** services  ******************/
#services{
	padding:10px;
}
.services_header .services_header__img1{
	margin-left:60px;
	padding:0px;
	margin-bottom: -20px;
}
.services_header .services_header__img2{
	margin-left:-60px;
	padding:0px;
	margin-top: -20px;
}
.services_item {
	padding:5px;
	width:96%;
	margin:auto;
}

.services_item img {
	height:260px;	
}

.service_img{
	
}
/***************** services  ******************/


/***************** widget   ******************/
#widget_content{
	padding: 10px;
}
.contact_form input{
	padding:10px;
}
.contact_form textarea{
	padding:10px;
}
#gallery img{
	width:96%!important;
	height:240px;
	padding:10px;
	cursor:pointer;
}

.contactpage_googlemap iframe{
	margin:auto;
	height:300px;
}
.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:480px; 
   top:480px;  
   margin-top:-480px;  
}
#map-container{
	height: 300px;
	padding-top: 10px;
}

/***************** widget   ******************/


/***************** footer *****************/ 

#footer p{
	font-size:20px;
	color:#EEEEEE;
}

/***************** footer *****************/ 


/***************** showcase page *****************/ 

.showcase_slider{
	width:100%;
	margin:auto;
	padding:5px;
}

/***************** showcase page *****************/ 


}









